*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#nav img{
    margin-left: 16px;
    height: 23px;
    
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
   
}
#nav-part1{
    display: flex;
    align-items: center;
    gap: 30px;

}
#nav-part1 h4{
    font-weight: 547;
    font-size: 13px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
}
#nav button{
    
    border: none;
    border-radius: 10px;
    
}
#b{
    background-color: transparent;
    padding: 17px ;
}
#a{
    background-color: black;
    color: white;
    padding: 17px 20px;
   
}
#center{
    height: 90%;
    width: 100%;
    position: relative;
    
}
#center video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center #overlay{
    background-color: rgba(8, 8, 8, 0.573);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

}
#overlay #headings{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 50px;

}
#overlay #headings h4{
    background-color: rgba(0, 0, 0, 0.505);
    padding: 16px 22px;
    font-weight: 500;
    border-radius: 50px;
    transition: all ease 0.5s;
    cursor: pointer;
}
#overlay #headings #c{
    background-color: white;
    color: black;
}
#overlay #headings h4:hover{
    background-color: white;
    color: black;

}
#overlay h1{
    color: #fff;
    text-align: center;
    font-size: 33px;
}
#overlay p{
    color: #fff;
    text-align: center;
    padding: 18px;
    line-height: 28px;
}
#overlay input{
   height: 10%;
   width: 46%;
   border: none;
   padding-left: 40px;
   font-style: 33px;
   border-radius: 50px;
   margin-left: 27%;
   margin-top: 20px;

}
#overlay #heading2{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
#overlay #heading2 h5{
    color: #fff;
    /* height: 10px; */
    /* width: 100px; */
    background-color:transparent;
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 550;
}
#overlay #heading2 #d{
    border: none;
    font-weight: 500;
}
#page2 {
    /* height: 100%; */
    width: 100%;
    padding: 5% 5%;
   
    }
#page2 #nav{
    height: 5%;
    width: 100%;
    color: rgba(0, 0, 0, 0.493);
}  
#page2 #nav #left select{
    height: 40px;
    width: 120px;
    padding: 8px;
    color: rgb(128, 128, 128);
    font-weight: 500;
    /* border: 3px solid #FDEDF3; */
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(182, 175, 175, 0.4);
    border-width: 1.5px;
} 
#page2 #nav #right{
    height: 42px;
    width: 100px;
    color:black;
    background-color: #fff;
    padding: 10px 15px;
    margin-right: 16px;
    font-size: 17px;
    /* border: 3px solid #FDEDF3; */
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(182, 175, 175, 0.4);
    border-width: 1.5px;
    font-family: Helvetica;
} 
#page2 #box{
    height: 250px;
    width: 340px;
    display: inline-block;
    margin:30px 15px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* transition: all ease 0.5s; */
}
#page2 #box img{
    width: 100%;
    height: 100%;

}
#page2 #box #box2{
    padding: 20px;
    position: absolute;
    bottom: -30%;
    height: 30%;
    width: 100%;
    display: flex;
    transition: all ease .5s;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.55));
}
#page2 #box #box2 h2{
    color: #fff;
    font-size: 18px;
}
#page2 #box #box2 i{
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
    }
#page2 #box:hover #box2{
    bottom: 0;
}
#footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#footer #box{
    height: 80%;
    width: 15%;
    /* background-color: rgb(14, 217, 187); */
    padding: 10px;
    line-height:20px;
}
#footer #box1{
    height: 80%;
    width: 200px;
    /* background-color: rgba(9, 183, 61, 0.603); */
    padding: 10px;
}
#footer #box1 img{
    height: 26px;
    width: 100px;
    margin: 30px 5px; 
    }
#footer #box1 p{
    line-height: 20px;
    font-size: 15px;
    font-weight: 200;
    padding: 5px;
    color:  #3d3d4e;
}
#footer #box1 #icons{
    width: 100%;
    margin: 20px 0px;


}
#footer #box1 #icons i{
    font-size: 20px;
    padding: 5px;
}
#footer #box2{
    height: 80%;
    width: 15%;
    padding: 10px;
    line-height:20px;

}
#footer #box2 h3{
    font-weight: 600;
    padding: 30px 0px 10px 0px;
    font-size: 15px;
}
#footer #box2 p{
    font-size: 15px;
    font-weight: 500;
    color:  #3d3d4e;
    margin: 15px 0px;
}
#footer #box3{
    height: 80%;
    width: 15%;
    /* background-color: rgb(14, 217, 187); */
    padding: 10px;
    line-height:20px;
}

#footer #box3 h3{
    font-weight: 600;
    padding: 30px 0px 10px 0px;
    font-size: 15px;
}
#footer #box3 p{
    font-size: 15px;
    font-weight: 500;
    color:  #3d3d4e;
    margin: 15px 0px;
}
#footer #box4{
    height: 80%;
    width: 15%;
    /* background-color: rgb(14, 217, 187); */
    padding: 10px;
    line-height:20px;
}
#footer #box4 h3{
    font-weight: 600;
    padding: 30px 0px 10px 0px;
    font-size: 15px;
}
#footer #box4 p{
    font-size: 15px;
    font-weight: 500;
    color:  #3d3d4e;
    margin: 15px 0px;
}
#footer #box5{
    height: 80%;
    width: 15%;
    /* background-color: rgb(14, 217, 187); */
    padding: 10px;
    line-height:20px;
}
#footer #box5 h3{
    font-weight: 600;
    padding: 30px 0px 10px 0px;
    font-size: 15px;
}
#footer #box5 p{
    font-size: 15px;
    font-weight: 500;
    color:  #3d3d4e;
    margin: 15px 0px;
}
#footer #box6{
    height: 80%;
    width: 15%;
    /* background-color: rgb(14, 217, 187); */
    padding: 10px;
    line-height:20px;
}
#footer #box6 h3{
    font-weight: 600;
    padding: 30px 0px 10px 0px;
    font-size: 15px;
}
#footer #box6 p{
    font-size: 15px;
    font-weight: 500;
    color:  #3d3d4e;
    margin: 15px 0px;
}










